<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="DESEDMEntities" connectionString="metadata=res://*/DESEDM.csdl|res://*/DESEDM.ssdl|res://*/DESEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BARAN-VAIO;Initial Catalog=DESEDM;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>

