USE [master]
GO
/****** Object:  Database [DESEDM]    Script Date: 03/11/2013 04:36:25 ******/
CREATE DATABASE [DESEDM] ON  PRIMARY 
( NAME = N'DESEDM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DESEDM.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DESEDM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DESEDM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DESEDM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DESEDM]
GO
/****** Object:  Table [dbo].[DESContent]    Script Date: 03/11/2013 04:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DESContent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inputFileName] [varchar](50) NULL,
	[inputFileContent] [varbinary](max) NULL,
	[outputFileName] [varchar](50) NULL,
	[outputFileContent] [varbinary](max) NULL,
	[hashInput] [varchar](50) NULL,
	[hashOutput] [varchar](50) NULL,
	[trivia] [varchar](50) NULL,
 CONSTRAINT [PK_DESContent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
